.header {
    transition: color .3s cubic-bezier(.4,0,0,1);
}

@media (max-width: 767px) {
    .header.open {
        color: black !important;
    }

    .close {
        display: none !important;
    }

    .header > nav {
        transform: translateY(-100%);
        color: white;
        transition: color .2s cubic-bezier(.4,0,0,1), transform .7s cubic-bezier(.4,0,0,1);
    }

    .header.open > nav {
        transform: translateY(0%);
        color: black;
        transition: color .85s .2s cubic-bezier(.4,0,0,1), transform .7s cubic-bezier(.4,0,0,1);
    }
}